<!DOCTYPE html>
<html>

<head>
    <title>Edit Menu Item</title>
</head>

<body>

    <h1>Edit Menu Item</h1>

    <hr>

    <form method="POST">

        <label>Dish Name</label><br>
        <input type="text" name="dish_name" value="{{ item[1] }}"><br><br>

        <label>Category</label><br>
        <input type="text" name="category" value="{{ item[2] }}"><br><br>

        <label>Price</label><br>
        <input type="number" name="price" value="{{ item[3] }}"><br><br>

        <label>Description</label><br>
        <textarea name="description">{{ item[4] }}</textarea><br><br>

        <label>Availability</label><br>
        <select name="availability">

            <option value="Available"
            {% if item[5] == "Available" %}
            selected
            {% endif %}
            >
            Available
            </option>

            <option value="Not Available"
            {% if item[5] == "Not Available" %}
            selected
            {% endif %}
            >
            Not Available
            </option>

        </select>

        <br><br>

        <button type="submit">Update Menu Item</button>

    </form>

    <br>

    <a href="/view_menu">
        <button>Back</button>
    </a>

</body>

</html>