<nav style="background:#222;padding:15px;">

    <a href="/menu/{{ session['table_no'] }}"
       style="color:white;text-decoration:none;
       margin-right:30px;font-size:20px;">
       🍽 Menu
    </a>

    <a href="/cart"
       style="color:white;text-decoration:none;
       margin-right:30px;font-size:20px;">
       🛒 Cart
    </a>

    <a href="/announcements"
       style="color:white;text-decoration:none;
       margin-right:30px;font-size:20px;">
       📢 Announcements
    </a>

    <a href="/feedback"
       style="color:white;text-decoration:none;
       margin-right:30px;font-size:20px;">
       💬 Feedback
    </a>
</nav>

<hr>